:root {
  --branding-color: #6c63ff;
  --secondary-color: #f9f7fe;
  --default-text-color: #272142;
  --default-font-family: "Poppins", sans-serif;
  --header-font-family: "Playfair Display", serif;
}

body {
  margin-bottom: 30px;
}

h1 {
  font-family: var(--header-font-family);
  font-size: 96px;
  font-weight: 900;
}

h2,
h3,
p {
  color: var(--default-text-color);
  font-family: var(--default-font-family);
}

h3 {
  font-weight: 700;
  padding: 20px 0 10px 0;
}

h4 {
  font-family: var(--header-font-family);
  font-size: 48px;
  font-weight: 700;
  text-align: left;
}
nav {
  padding: 5px 0 5px;
}
nav li,
nav ul a {
  list-style: none;
  display: inline;
  margin-left: 20px;
  text-decoration: none;
  color: #272142;
  transition: all 120ms ease-in-out;
}

nav ul a:hover {
  color: var(--branding-color);
}
nav ul {
  text-decoration: none;
  padding: 0;
  margin: 0;
  line-height: 2.5em;
}

nav li.active a {
  color: var(--branding-color);
}

footer {
  text-align: center;
  margin: 100px 0;
}

.logo-small {
  max-height: 40px;
  padding-left: 20px;
}
.hero {
  text-align: center;
  background-color: var(--secondary-color);
  padding: 60px 20px 80px 20px;
}

.hero p {
  font-size: 36px;
  font-weight: bold;
}
.navbar {
  padding-top: 20px;
}
.btn {
  font-family: var(--default-font-family);
  font-size: 18px;
  font-weight: regular;
  padding: 18px 30px;
  border-radius: 0.5rem;
}

.hero h2 {
  font-size: 24px;
  font-weight: regular;
}
.featured-text {
  margin: 100px 0px;
}

.project-title {
  font-size: 64px;
  line-height: 85px;
  margin-bottom: 50px;
  margin-top: 55px;
}

.project-content {
  font-size: 16px;
  line-height: 30px;
}

.primary-button {
  background: var(--branding-color);
  border: none;
}

.secondary-button {
  border: solid 1px var(--branding-color);
  color: var(--branding-color);
}

.project-paragraph {
  padding: 60px 30px;
}

.content-container {
  padding: 100px 20px 254px 20px;
}

.content {
  margin: 30px;
}
.page-header {
  font-size: 64px;
  line-height: 85px;
  padding: 0;
}
.subheader {
  font-weight: 700px;
  font-size: 18px;
  line-height: 27px;
}
.content-paragraph p {
  font-size: 16px;
  font-style: regular;
  line-height: 30px;
}

.grid-subheader {
  font-size: 24px;
  font-weight: bold;
  line-height: 36px;
}

.grid-image,
.grid-subheader,
.grid-description {
  padding: 0px 0px 0px 30px;
}

.contact-button {
  background: var(--branding-color);
  color: white;
  border: none;
}
.contact-box {
  background: var(--secondary-color);
  padding: 55px 120px;
  border-radius: 20px;
  margin-bottom: 80px;
}
footer .social-links a {
  color: var(--branding-color);
  text-decoration: none;
}

footer i.fab {
  margin-left: 30px;
  background: var(--secondary-color);
  padding: 10px 11px 10px;
  border-radius: 50%;
}

footer .email-link {
  text-decoration: none;
  color: black;
  font-size: 24px;
  margin-bottom: 40px;
}
@media (max-width: 900px) {
  h1 {
    font-size: 35px;
  }
  h2 {
    font-size: 20px;
    margin-top: 20px;
  }

  nav li,
  nav ul a {
    margin-left: 5px;
  }
  .hero p {
    font-size: 25px;
  }
  .hero {
    padding: 50px 20px 20px;
  }

  .featured-text {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .project-paragraph {
    padding: 0;
    text-align: center;
  }
  .container {
    text-align: center;
    padding-left: 0px;
    padding-right: 40px;
  }
  .project-title {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 40px;
  }
}
img {
  border-radius: 15px;
}
